<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center fixed z-999 w-100">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 ml3 h-100 w45 flex-none">
		<img src="/img/logo.svg" alt="Superorganism logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b blue">
		<li><a href="/approach" class="pa4 fw5 no-underline db">APPROACH</a></li>

		<li><a href="/work" class="pa4 fw5 no-underline db">WORK</a></li>

		<li><a href="/blog" class="pa4 fw5 no-underline db">BLOG</a></li>

		<li><a href="/about" class="pa4 fw5 no-underline db">ABOUT</a></li>
	</ul>

</nav>
